https://github.com/openlanguagedata/flores

In [25]:
import pandas as pd

In [46]:
dataset = "./floresp-v2.0-rc.2/dev/dev.eng_Latn"

column_names = ["Text Lines"]

df = pd.read_csv(dataset, delimiter = '\t', header=None, names=column_names)
df

                                            Text Lines
0    On Monday, scientists from the Stanford Univer...
1    Lead researchers say this may bring early dete...
2    The JAS 39C Gripen crashed onto a runway at ar...
3    The pilot was identified as Squadron Leader Di...
4    Local media reports an airport fire vehicle ro...
..                                                 ...
984  The tourist season for the hill stations gener...
985  However, they have a different kind of beauty ...
986  Only a few airlines still offer bereavement fa...
987  Airlines that offer these include Air Canada, ...
988  In all cases, you must book by phone directly ...

[989 rows x 1 columns]